body {
	background-color: white;
	font-family: 'Poppins', sans-serif;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

main {
	/*min-height: 430px;*/
}

#wrap {
	height: 100%;
}

#header {
	height: 100px;
}
	#header a {
			color: crimson;
			text-align: center;
			line-height: 50px;
			text-transform: lowercase;
		}
			#header a:hover {
				color: red;
				text-decoration: none;

		}
			#header h1 {
				font-size: 30px;
			}
				#header .fullmenu {
					height: 50px;
					line-height: 50px;
					list-style: none;
					text-align: center;
					border-bottom: 1px solid black;
					padding: 0;
				}
					#header .fullmenu li {
						display: inline-block;
						padding: 0 10px;
					}
						#header .menu-icon {
							position: relative;
						}
							#header .fa {
								margin-bottom: 20px;
								color: red;
							}
								#header .mobilemenu {
									display: none;
									position: absolute;
									list-style: none;
									text-align: center;
									background-color: white;
									width: 100%;
									padding: 0;
									z-index: 40;
								}
									#header .mobilemenu li {
										background-color: white;
										border-top: 1px solid red;
									}
										#header .mobilemenu li:last-child {
											border-bottom: 1px solid red;
										}

#footer {
	background-color: black;
	color: white;
	text-align: center;
	border-top: 1px solid white;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	line-height: 70px;
}


/* GENERAL STYLES */

.aligncenter {
	text-align: center;
}

.white-text {
	color: white;
}

/* IMAGES */

.move-text {
	transform: translateY(0);
	transition: transform 1s;
	font-size: 12px;
}

.box,
.album {
	display:inline-block;
	position:relative;
	width: 100%;
	min-height: 170px;
	padding: 0;
	overflow: hidden;
}
.album {
	width: 95%;
	height: 100%;
}
	.album .post-info {
		left:50%;
		top: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		z-index: 99;
		text-align: center;
		opacity: 0;
		transition: opacity 0.4s ease-in-out 0s;
		-webkit-transition: opacity 0.4s ease-in-out 0s;
		-moz-transition: opacity 0.4s ease-in-out 0s;
		-ms-transition: opacity 0.4s ease-in-out 0s;
	}
		.album .post-info a {
			color: white;
			text-decoration: none;
		}
			.album .post-info h4 {
				border-bottom: solid 2px transparent;
				transition: all 0.4s ease-in-out 0s;
			}
				.album .post-info h4:hover {
					/*border-bottom: solid 2px white;*/
				}

	.album .image-overlay {
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
		background: #000;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 0.4s ease-in-out 0s;
		-webkit-transition: opacity 0.4s ease-in-out 0s;
		-moz-transition: opacity 0.4s ease-in-out 0s;
		-ms-transition: opacity 0.4s ease-in-out 0s;
	}

	.album:hover .post-info {
		opacity: 1;
	}

		.album:hover .image-overlay {
			opacity: 0.4;
		}
			.album:hover img {
				position: absolute;
				-moz-transform: translate(-50%, 0) scale(1.1);
				-webkit-transform: translate(-50%, 0) scale(1.1);
				transform: translate(-50%, 0) scale(1.1);
			}

	.box img,
	.album img {
		display: block;
		position: absolute;
		left:50%;
		right: 50%;
		-webkit-transform: translate(-50%, 0);
		background-color: white;
		width: 100%;
		height: 100%;
		padding: 2px;
  	-moz-transition: all 0.3s;
  	-webkit-transition: all 0.3s;
  	transition: all ease-in-out 1s;
	}

#fade {
	display: none;
  position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 100;
	background: white;
	z-index: 10;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

/* SECTIONS */

section.websites,
section.music,
section.about,
section.contact-form,
section.photos {
	display: block;
  color: black;
  text-align: center;
	min-height: 400px;
  width: 100%;
  padding: 20px 0 0;
  margin: 0 auto 30px;
}
	section.websites h3,
	section.music h3,
	section.about h3,
	section.contact h3,
	section.contact-form h4 {
		text-transform: lowercase;
		margin-bottom: 50px;
	}
		section.websites a,
		section.music a {
			color: brown;
			text-decoration: none;
		}
			section.websites a:hover,
			section.music a:hover {
				color: red;
			}

section.websites .work {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
	section.websites .work .site-container {
		position: relative;
		cursor: pointer;
		width: 100%;
		margin-bottom: 20px;
	}
	  section.websites .work .site-container img {
			border-bottom: 1px solid black;
			width: 90%;
		}

section.about .about-text {
	padding: 0 10px;
}
	section.about p {
		font-size: 18px;
		margin-bottom: 20px;
	}
		section.about img {
			width: 50%;
			height: auto;
		}

section.music h4,
section.music .album {
	margin-bottom: 20px;
}
	section.music .music-boxes {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
		section.music .album {
			width: 50%;
		}

section.photos h4 {
	margin-bottom: 20px;
}
	section.photos .insta-box {
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
	}
		section.photos img {
			max-width: 95%;
			margin: 0 auto 10px;
		}
			section.photos .insta-box .bilder-deets {
				width: 50%;
			}

section.contact {
	display: block;
  color: black;
  text-align: center;
  width: 100%;
	min-height: 300px;
  padding: 20px 10%;
	margin-bottom: 130px;
}
	section.contact p {
		margin-bottom: 30px;
	}
		section.contact label {
			margin: 10px 0;
		}
			section.contact .contact-form-container .form input,
			section.contact .contact-form-container .form .message {
				border: 1px solid red;
				width: 100%;
			}

section.contact .send-button,
section.contact-form .back-button {
	background-color: black;
	color: white;
	text-transform: lowercase;
	border: 1px solid black !important;
	border-radius: 44px;
	width: 200px;
	margin-top: 20px;
}
	section.contact .send-button:hover,
	section.contact-form .back-button:hover {
		background-color: transparent;
		color: black;
		border: 2px solid black;
	}

/* EXTRA STYLES */


.temp-menu {
	list-style: none;
	padding-left: 0;
	margin-bottom: 20px;
}
	.temp-menu li {
		margin-bottom: 20px;
	}

		.temp-menu li > a {
			font-size: 16px;
			color: darkgrey;
		}

			.temp-menu li > a:hover {
				color: crimson;
				text-decoration: none;
			}

.fa {
	margin-right: 4px;
}

.animated.flipInX {
	-webkit-animation-duration: 6s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
}

.animated.bounceIn {
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
}

/* JS/JQUERY STYLES */

.top-button {
	display: none;
    position: fixed;
	right: 10px;
	bottom: 15px;
	z-index: 85;
	cursor: pointer;
	background-color: transparent;
}
	.top-button a {
			color: crimson;

	}

#scroll-logo {
	position: relative;
}

/* FORM STYLES */

input.validation {
	background-color: red;
	border: 1px solid white;
}


/* MEDIA QUERIES */

@media ( min-width: 480px ) {
	section.websites .work .site-container {
		width: 50%;
	}
	section.photos .insta-box .bilder-deets {
		width: 25%;
	}
	section.music .album {
		width: 25%;
	}
}

@media ( min-width: 768px ) {

	#header h1 {
		font-size: 36px;
	}
		#header .fullmenu li {
			padding: 0 20px;
		}
			#header .fullmenu li:hover {
				color: darkgrey;
			}

	main {
		min-height: 500px;
	}

	section.websites {
		width: 100%;
		margin: 20px auto;
	}

	section.about .about-text {
		padding: 0 20px;
	}

	.temp-menu li {
		margin-bottom: 40px;
	}

	.fa {
		margin-right: 14px;
	}

	.top-button {
		right: 20px;
		bottom: 10px;
	}

	.box {
		min-height: 300px;
	}
}

@media ( min-width: 900px ) {
	section.photos .insta-box .bilder-deets {
		width: 12.5%;
	}

	.move-text {
		transform: translateY(30px);
		font-size: 14px;
	}
}

@media ( min-width: 1170px ) {
	/* section.websites .work .site-container {
		width: 33%;
	} */
}
