body {
	background-color: white;
	background: #8e9eab;
	background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3);
	background: linear-gradient(to left, #8e9eab , #eef2f3);
	background: #F7971E;
	background: -webkit-linear-gradient(to left, #F7971E , #FFD200);
	background: linear-gradient(to left, #F7971E , #FFD200);
	font-family: 'Poppins', sans-serif;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

main {
	/*min-height: 430px;*/
}

#wrap {
	height: 100%;
}

#header {
	height: 100px;
	/*border-bottom: 1px solid black;*/
}
	#header a {
			color: crimson;
			text-align: center;
			line-height: 50px;
			text-transform: lowercase;
		}
			#header a:hover {
				color: red;
				text-decoration: none;

		}
			#header h1 {
				font-size: 30px;
			}
				#header .fullmenu {
					height: 50px;
					line-height: 50px;
					list-style: none;
					text-align: center;
					border-bottom: 1px solid black;
					padding: 0;
				}
					#header .fullmenu li {
						display: inline-block;
						padding: 0 10px;
					}

#footer {
	background-color: black;
	color: white;
	text-align: center;
	border-top: 1px solid white;
	position: fixed;
  	bottom: 0;
  	width: 100%;
	height: 70px;
	line-height: 70px;
}


/* GENERAL STYLES */

.aligncenter {
	text-align: center;
}

.white-text {
	color: white;
}

/* IMAGES */

.box {
	display:inline-block;
	position:relative;
	width: 100%;
	min-height: 170px;
	padding: 0;
	overflow: hidden;
}
	.box .post-info {
		left:50%;
		top: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		z-index: 99;
		text-align: center;
		opacity: 0;
		transition: opacity 0.4s ease-in-out 0s;
		-webkit-transition: opacity 0.4s ease-in-out 0s;
		-moz-transition: opacity 0.4s ease-in-out 0s;
		-ms-transition: opacity 0.4s ease-in-out 0s;
	}
		.box .post-info a {
			color: white;
			text-decoration: none;
		}
			.box .post-info h4 {
				border-bottom: solid 2px transparent;
				transition: all 0.4s ease-in-out 0s;
			}
				.box .post-info h4:hover {
					/*border-bottom: solid 2px white;*/
				}

	.box .image-overlay {
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
		background: #000;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 0.4s ease-in-out 0s;
		-webkit-transition: opacity 0.4s ease-in-out 0s;
		-moz-transition: opacity 0.4s ease-in-out 0s;
		-ms-transition: opacity 0.4s ease-in-out 0s;
	}

	.box:hover .post-info {
		opacity: 1;
	}
		.box:hover .image-overlay {
			opacity: 0.4;
		}
			.box:hover img {
				position: absolute;
				-moz-transform: translate(-50%, 0) scale(1.1);
				-webkit-transform: translate(-50%, 0) scale(1.1);
				transform: translate(-50%, 0) scale(1.1);
			}

	.box img {
		display: block;
		position: absolute;
		left:50%;
		right: 50%;
		-webkit-transform: translate(-50%, 0);
		background-color: white;
		width: 100%;
		height: 100%;
		padding: 2px;
  	-moz-transition: all 0.3s;
  	-webkit-transition: all 0.3s;
  	transition: all ease-in-out 1s;
	}




/* SECTIONS */

section.websites,
section.music,
section.about,
section.contact-form {
	display: block;
  color: black;
  text-align: center;
	min-height: 400px;
  width: 100%;
  padding: 20px 0 0;
  margin: 0 auto 30px;
}
	section.websites h3,
	section.music h3,
	section.about h3,
	section.contact h3,
	section.contact-form h4 {
		text-transform: lowercase;
		margin-bottom: 30px;
	}
		section.websites a,
		section.music a {
			color: brown;
			text-decoration: none;
		}
			section.websites a:hover,
			section.music a:hover {
				color: red;
			}
/*
section.about {
	height: 400px;
}*/

section.contact {
	display: block;
  color: black;
  text-align: center;
  width: 100%;
	min-height: 300px;
  padding: 20px 10%;
	margin-bottom: 130px;
}
	section.contact p {
		margin-bottom: 30px;
	}
		section.contact label {
			margin: 10px 0;
		}

section.contact .send-button,
section.contact-form .back-button {
	background-color: black;
	color: white;
	text-transform: lowercase;
	border-radius: 44px;
	width: 200px;
	margin-top: 20px;
}
	section.contact .send-button:hover,
	section.contact-form .back-button:hover {
		background-color: transparent;
		color: black;
		border: 2px solid black;
	}

/* EXTRA STYLES */


#full-fade {
	background-color: rgba(255, 255, 255, 0.2);
    display: block;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.temp-menu {
	list-style: none;
	padding-left: 0;
}
	.temp-menu li {
		display: inline-block;
		margin-right: 0;
	}

		.temp-menu li > a {
			font-size: 16px;
			color: darkgrey;
		}

			.temp-menu li > a:hover {
				color: crimson;
				text-decoration: none;
			}

.fa {
	margin-right: 4px;
}

.animated.flipInX {
	-webkit-animation-duration: 6s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
}

.animated.bounceIn {
	-webkit-animation-duration: 3s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
}

/* JS/JQUERY STYLES */

.top-button {
	display: none;
    position: fixed;
	right: 10px;
	bottom: 15px;
	z-index: 85;
	cursor: pointer;
	background-color: transparent;
}
	.top-button a {
			color: crimson;

	}

#scroll-logo {
	position: relative;
}

/* FORM STYLES */

input.validation {
	background-color: red;
	border: 1px solid white;
}


/* MEDIA QUERIES */

@media ( min-width: 768px ) {

	#header h1 {
		font-size: 36px;
	}
		#header .fullmenu li {
			padding: 0 20px;
		}

	main {
		min-height: 500px;
	}

	section.websites {
		width: 100%;
		margin: 20px auto;
	}

	.temp-menu {
		padding-left: 40px;
	}

	.temp-menu li {
		margin-right: 10px;
	}

	.fa {
		margin-right: 14px;
	}

	.top-button {
		right: 20px;
		bottom: 10px;
	}

	.box {
		min-height: 300px;
	}
}
